In [1]:
import pandas as pd

In [2]:
archivo = 'pruebas_p.xlsx'
df = pd.read_excel(archivo)

In [3]:
df.head()

,ID Venta,Fecha,Producto,Categoría,Cantidad,Precio Unitario (USD),Total Venta (USD),Vendedor,Región
0,1001,2024-07-01,"Televisor 50""",Electrónica,2,500,1000,Juan Pérez,Norte
1,1002,2024-07-02,Smartphone,Móviles,5,300,1500,Ana Martínez,Sur
2,1003,2024-07-03,"Laptop 15""",Computación,3,700,2100,Luis Rodríguez,Este
3,1004,2024-07-04,"Tablet 10""",Móviles,4,200,800,Marta Fernández,Oeste
4,1005,2024-07-05,Auriculares Bluetooth,Accesorios,10,50,500,Juan Pérez,Norte